 main {
    background: linear-gradient(180deg, #738BCC 0%, #E5E7F2 100%);
  }
  
 header {
    font-family: 'Poppins', sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0px 400px -45px 400px;
  }
  
  #survey-form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 30px 450px 0px 450px;
  
  }
  
  div {
    margin-top: 20px;
  }
  
  input {
    margin: 0px;
    border-radius: 5px;
    height: 25px;
  }
  
  button {
    font-size: 20px;
    background: #738BCC;
    border-radius: 30px;
    height: 55px;
    width: 250px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 125px;
  }
  
  .questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: -20px 20px 0px #4661BE;
    margin-bottom: 50px;
  }
  
  input[type="radio"]{
    vertical-align: middle;
    margin-right: 10px;
  }